.a1{
  background-image: url(https://plus.unsplash.com/premium_photo-1675764793512-5b8b4b9615c5?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Z2xhc3MlMjBlZmZlY3R8ZW58MHx8MHx8fDA%3D);
  height: 550px;

}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    /* background-image: url(https://img.freepik.com/premium-photo/illustration-fitness-equipments-design-background_916191-36121.jpg); */
    /* background-image: url(https://plus.unsplash.com/premium_photo-1675764793512-5b8b4b9615c5?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Z2xhc3MlMjBlZmZlY3R8ZW58MHx8MHx8fDA%3D); */
    /* background-repeat: repeat-y;  */
    background-repeat: repeat-x;  
    background-size: cover;
    
}

header {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-weight: bolder;
  font-size: large;
  color: #eeff02;
  margin-left: 50px;
  
}

nav {
    padding: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

li {
  display: inline;
  padding: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #fbff00;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
    margin-top: 0;
    
}
h5{
    
}

.span1 {
    display: flex;
    width: 800px;
    height: 1px;
    background-color: white;
    margin-left: 150px;
}

/*Gym Stats*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    max-height: 250px;
    margin-left: 40px;
    
  }
  
  .stats {
    /* display: flex; */
    justify-content: space-between;
  }
  
  .stat {
    text-align: center;
    margin-bottom: 10px;
    width: 45%;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
  }
  
  .stat h2 {
    margin-top: 0;
  }
  
  .stat p {
    font-size: 24px;
    margin-bottom: 0;
  }
  
  .Gym-Stats{
    color: rgb(0, 255, 234);
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
    
  }

  .main1{
    display: flex;
  }

  .report1{
    
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-weight: bolder;
    font-size: xx-large;
    color: #000000;
    margin-top: 120px;
    margin-left: 170px;
    
  }

  .report2{
    margin-top: 20px;
    margin-left: 150px;
    font-style: oblique;
  }

  .image1{
    height: 350px;
    margin-left: 200px;
    margin-top: 60px;
  }

   .button1{ 
    margin-top: 60px;
    margin-left: 280px;
    background-color: #eeff02;
    border: none;
    height: 40px;
    width: 100px;
    font-weight: 500px;
    font-weight: bolder;

  }

  .button1:hover{
    background-color: rgb(228, 230, 159);
  }
